on:
  workflow_dispatch:

name: R CMD check with R-hub valgrind container

jobs:
  check:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/r-hub/containers/valgrind:latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      
      - name: Create a CRAN-ready version of the R package
        run: |
          Rscript cran-bootstrap.R 0 0 1
      
      - name: Install dependencies
        run: |
          R -q -e 'pak::pkg_install(c("deps::stochtree_cran", "any::rcmdcheck"), dependencies = TRUE)'

      - uses: r-lib/actions/check-r-package@v2
        with:
          working-directory: 'stochtree_cran'
